<%- include('partials/head.ejs') %>
<script type="text/javascript" src="jquery/jquery.min.js"></script>
<script
  type="text/javascript"
  src="jquery/jquery.lettering.min.js"
></script>
  <link rel="stylesheet" href="/css/index.css" />
  <script src="circletype/dist/circletype.min.js"></script>
</head>
  <body onload="makeTextCircle()">
    <div class="i-container">
      <div class="s-m-header">
        <%- include('partials/header-page.ejs') %>
        <!-- <h2 class="assistant-s-2-5" style="color:#b58d00" id="facility-title">
          <%= timeScreenTexts.facilityNameText %>
        </h2>
          <h2 class="assistant-s-2-5" style="color:#b58d00" id="team-title">
            <%= timeScreenTexts.facilityNameText %>
          </h2>
        <h2 class="assistant-s-2-5" style="color:#b58d00" id="another-title">
          <%= timeScreenTexts.facilityNameText %>
        </h2> -->
      </div>
      <div class="s-m-row s-m-space">
        <div class="clip-art-container">
          <button class="clip-art-image"  onclick="window.location.href='/zmanim/timesScreen'">
            <h3 class="assistant-s-2-5">
              <%= timeScreenTexts.showTimeScreenText %>
            </h3>
          </button>
        </div>
        <div class="clip-art-container" >
          <button class="clip-art-image" onclick="window.location.href='/shabbat-times/changeShabbatTimesScreen'">
            <h3 class="assistant-s-2-5">
              <%= timeScreenTexts.addMessageScreenText %>
            </h3>
          </button>
        </div>
      </div>
      <div class="s-m-row s-m-center">
        <div class="clip-art-container">
          <button class="clip-art-image" onclick="window.location.href='/joys-news/addJoyNewsScreen'">
            <h3 class="assistant-s-2-5">
              <%= timeScreenTexts.addJoysScreenText %>
            </h3>
          </button>
        </div>
        <div class="clip-art-container">
          <button class="clip-art-image"  onclick="window.location.href='/memorial/addMemorialScreen'">
            <h3 class="assistant-s-2-5">
              <%= timeScreenTexts.addMemorialScreenText %>
            </h3>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
