<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Assistant"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/timesScreen.css" />
    <title><%= timeScreenTexts.facilityNameText %></title>
    <script type="module" src="/js/time-screen.js"></script>
    <script src="/js/memorize-names.js"></script>
    <script src="/js/day-time-display.js"></script>
    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>
  </head>
  <body onload="initialPageSetup(); getMemorizeNames()">
    <div class="s-m-container">
      <div class="s-m-logo">
        <div class="s-m-left-logo"></div>
        <div class="s-m-middle-logo">
          <text class="pray-name"><%= timeScreenTexts.facilityNameText %></text>
        </div>
        <div class="s-m-right-logo"></div>
      </div>
      <div class="s-m-date-time">
        <div class="s-m-left-datime">
          <script
            type="text/javascript"
            charset="utf-8"
            src="https://www.hebcal.com/etc/hdate-he.js"
          ></script>
        </div>
        <div class="s-m-middle-datime">
          <div id="time"></div>
        </div>
        <div class="s-m-right-datime">
          <div id="parasha"></div>
        </div>
        <div class="left">
          <div id="date"></div>
        </div>
      </div>
      <div class="s-m-times">
        <div class="s-m-right-times-con">
          <text><%= timeScreenTexts.todayTimesText %></text>
          <div class="s-m-right-times">
            <table id="zmanim-table-data"></table>
          </div>
        </div>
        <div class="s-m-middle-times-con">
          <div class="middle-time-title-con">
            <text><%= timeScreenTexts.bulletinBoardText %></text>
          </div>
          <div class="messages-con-par">
            <div class="messages-con">
              <div class="messages">
                <div class="message-happy-head-con">
                  <text><%= timeScreenTexts.JoysText %></text>
                </div>
                <div class="message-data"></div>
              </div>
              <div class="clip-art-design-con">
                <div class="clip-art-design"></div>
              </div>
              <div class="messages">
                <div class="message-head-con">
                  <div class="memorize-candle-left"></div>
                  <div class="message-title">
                    <text><%= timeScreenTexts.memorializeText %></text>
                  </div>
                  <div class="memorize-candle-right"></div>
                </div>
                <div id="memorize-names" class="message-data">
                  <div class="message-data-container">
                    <div
                      id="memorial-names-right"
                      class="message-data-content"
                    ></div>
                    <div
                      id="memorial-names-left"
                      class="message-data-content"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s-m-right-times-con">
          <text><%= timeScreenTexts.prayTimesText %></text>
          <div class="s-m-right-times">
            <table id="shabbat-times-table-data"></table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
