<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/timesScreen.css" />
<link rel="stylesheet" href="/css/marque.css" />
<link rel="stylesheet" href="/css/marquee-horizontal.css" />
<link rel="stylesheet" href="/css/tables.css" />
<script type="module" src="/js/time-screen.js"></script>
<script src="/js/day-time-display.js"></script>
<script src="/js/announcments.js"></script>
<script type="text/javascript" src="/jquery/jquery.lettering.min.js"></script>
<script src="/circletype/dist/circletype.min.js"></script>
<script>
  function init() {
    initialPageSetup();
    makeTextCircle();
  }
</script>
</head>

<body onload="init()">
  <div class="s-m-container">
    <div class="header-page-bar">
      <%- include('partials/header-page.ejs') %>
    </div>
    <div class="s-m-dashboard">
      <div class="s-m-info-section">
        <div class="s-m-side-column-container">
          <div class="s-m-side-column-inner-container">
            <%- include('partials/time-screen/lessons.ejs') %>
            <%- include('partials/time-screen/announcments.ejs') %>
          </div>
        </div>
        <div class="s-m-middle-column-container">
          <div class="s-m-bottom-column-inner-container">
            <%- include('partials/time-screen/today-times') %>
            <%- include('partials/time-screen/today-info.ejs') %>
          </div>
        </div>
        <div class="s-m-side-column-container">
          <div class="s-m-side-column-inner-container">
            <%- include('partials/time-screen/pray-times.ejs') %>
            <%- include('partials/time-screen/joys.ejs') %>
          </div>
        </div>
      </div>
      <%- include('partials/time-screen/footer.ejs') %>
    </div>
  </div>
</body>